/* STYLESHEET */

body{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: #393d41;
    font-size: 1.5rem;
    line-height: 2.3rem;
    font-weight: 400;
    /* font-size: 1.2rem;
    line-height: 1.65rem; */
    text-align: center;
    background-color: white;
}

h1, h2, h3{
    font-family: 'Montserrat', sans-serif;
    color: #25a2c3;
    /* line-height: 1.5rem; */
    font-weight: 700;
}

p{
    padding: 2%;
} 

/* ----------------------------- */
/* HEADER */

header{
    background-color: black;
    text-align: center;
    padding: 2.5rem;
}

/* ----------------------------- */
/* HERO */

.hero{
    padding: 10% 5%;
    background-image: url(/assets/images/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat ;
    background-position: center;
}

h1{
    font-size: 3rem;
    line-height: 3.2rem;
    margin: 5%;
}

button{
    height: 60px;
    margin: 5% 5% 0% 5%;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 1.1rem;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    background-color: #f04c2f;
}

button:hover{
    box-shadow: 0px 5px 25px  #b52e1642;
    background-color: #d24026;

}

/* ----------------------------- */

/* SECTION */

.section-one{
    margin: 12% 5%;

}

.sct-one-block{
    margin: 5%;
}

.section-one img{
    width: 80%;
    border-radius: 50%;
}

/* ----------------------------- */

/* BLOCKQUOTE */



/* ----------------------------- */

/* CARD */



/* ----------------------------- */

/* FOOTER */
