/* STYLESHEET */
body{
    box-sizing: border-box;
}



/* HEADER */
header{
    background-color: black;
    text-align: center;
    padding: 2.5rem;
}


/* HERO */



/* SECTION */



/* BLOCKQUOTE */



/* CARD */



/* FOOTER */